.el-header {
  --el-header-padding: 0 0px;
}

// 进度条breadcrumb设置
.el-breadcrumb__item:first-child .el-breadcrumb__inner {
  cursor: pointer !important;
}

// tabs设置
.el-tabs__header {
  margin: 0 !important;
}

.el-tabs--card>.el-tabs__header {
  border-bottom: 0px solid var(--el-border-color-light) !important;
  border-top: 0px solid var(--el-border-color-light);
}

.el-tabs__nav-wrap {
  margin-bottom: 0px !important;
  margin-top: 1px;
}

.el-tabs__content {
  display: none;
}